client/src/assets/productCatalogWSDL.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sellmegood.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sellmegood.com" name="ProductCatalogService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://sellmegood.com" schemaLocation="http://vladislav-laptop:8080/sell_me_good_war_exploded/ProductCatalogService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getProductCategories">
        <part name="parameters" element="tns:getProductCategories"/>
    </message>
    <message name="getProductCategoriesResponse">
        <part name="parameters" element="tns:getProductCategoriesResponse"/>
    </message>
    <message name="getProductsByCategory">
        <part name="parameters" element="tns:getProductsByCategory"/>
    </message>
    <message name="getProductsByCategoryResponse">
        <part name="parameters" element="tns:getProductsByCategoryResponse"/>
    </message>
    <message name="addProduct">
        <part name="parameters" element="tns:addProduct"/>
    </message>
    <message name="addProductResponse">
        <part name="parameters" element="tns:addProductResponse"/>
    </message>
    <portType name="ProductCatalogImpl">
        <operation name="getProductCategories">
            <input wsam:Action="get_product_categories" message="tns:getProductCategories"/>
            <output wsam:Action="http://sellmegood.com/ProductCatalogImpl/getProductCategoriesResponse" message="tns:getProductCategoriesResponse"/>
        </operation>
        <operation name="getProductsByCategory">
            <input wsam:Action="get_products_by_category" message="tns:getProductsByCategory"/>
            <output wsam:Action="http://sellmegood.com/ProductCatalogImpl/getProductsByCategoryResponse" message="tns:getProductsByCategoryResponse"/>
        </operation>
        <operation name="addProduct">
            <input wsam:Action="add_product" message="tns:addProduct"/>
            <output wsam:Action="http://sellmegood.com/ProductCatalogImpl/addProductResponse" message="tns:addProductResponse"/>
        </operation>
    </portType>
    <binding name="ProductCatalogPortBinding" type="tns:ProductCatalogImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getProductCategories">
            <soap:operation soapAction="get_product_categories"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getProductsByCategory">
            <soap:operation soapAction="get_products_by_category"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addProduct">
            <soap:operation soapAction="add_product"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ProductCatalogService">
        <port name="ProductCatalogPort" binding="tns:ProductCatalogPortBinding">
            <soap:address location="http://vladislav-laptop:8080/sell_me_good_war_exploded/ProductCatalogService"/>
        </port>
    </service>
</definitions>